<configuration>
  <!-- Console JSON appender -->
  <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <!-- Either LogstashEncoder (simple) ... -->
    <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>

    <!-- ...or Composite encoder if you want full control
    <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
      <providers>
        <timestamp timeZone="UTC"/>
        <pattern>
          <pattern>
            { "app":"provider-center" }
          </pattern>
        </pattern>
        <logLevel/>
        <threadName/>
        <loggerName/>
        <message/>        <!-- "business_event" -->
        <mdc/>            <!-- includes MDC fields like TrackId -->
        <stackTrace/>
      </providers>
    </encoder>
    -->
  </appender>

  <root level="INFO">
    <appender-ref ref="JSON_CONSOLE"/>
  </root>
</configuration>
